* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #CC0000;
}

h1 {
    font-size: 40px;
    margin: 5px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    color: maroon;
    font-size: 19px;
}

p, li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: black;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCCCCC;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

nav {
    background-color: #CC0000;
}

nav a:visited, footer a:visited {
  color: rgb(240, 240, 240);
}

a {
    color: maroon;
}

a:visited {
    color: black;
}

nav a, footer a {
    color: white;
    text-decoration: none;
}

p a {
    font-size: 15px;
}

.student-org img, .event img {
    width: 100px;
}

.student-orgs .flex-container {
    background-color: white;
}

.grid-container {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-auto-rows: 80px;
}

.main-sport * {
    margin-bottom: 2px;
}

.sport-card * {
    margin: 2px;
}

footer {
    background-color: #CC0000;
    padding: 15px;
}